<h1>New Image</h1>

<%= simple_form_for @image,
  url: images_path,
  wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :url %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: 'btn-primary' %>
      <%= f.button :button, class: "btn-outline-secondary" do %>
        <%= link_to 'Back', images_path, class: "btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
<% end %>
