<%= render partial: 'image_navbar' %>

<div class="container-fluid">
  <div class="row">
  <%= link_to 'Back', images_path, class: "btn btn-outline-danger" %>
  <h2><%= @image.title %></h2>
  </div>

  <div class="row">
    <%= image_tag @image.url, class: "img-fluid" %>
  </div>
</div>

<%= render partial: 'image_footer' %>
